$color-primary: #ee4d2d;

.customer-wrapper{
    background-color: $color-primary;
}

.login-container {
    // color: #fff;
    // background-image: url("../images/wallpaper.png");
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center center;
    width: 100%;
    max-width: 1040px;
    min-height: 600px;
    margin: 0 auto;
    justify-content: center;
    // @include mq_min_576 {
    //     max-width: 1040px;
    //     min-height: 600px;
    // }
    @include mq_min_768 {
        background-image: url("../images/wallpaper.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        // max-width: 1040px;
        // min-height: 600px;
        justify-content: flex-end;
    }
    .content {
        width: 100%;
        max-width: 400px;
        height: 482px;
        background-color: #fff;
        border-radius: 4px;
        margin: 0 10px;

        @include mq_min_768 {
            height: 482px;
        }

        .content-header {
            padding: 22px 30px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .change-login-method {
                // flex: 3;
                margin-left: 20px;
                .ant-tooltip {
                    border: 2px solid #ffbf00;
                    // .ant-tooltip-arrow {
                    // }
                    .ant-tooltip-content {
                        .ant-tooltip-inner {
                            color: #ffbf00;
                            font-size: 14px;
                            font-weight: 700;
                            padding: 11px 14px;
                            max-width: 138px;
                            line-height: 1.2;
                            box-shadow: none;
                            @include mq_min_576 {
                                max-width: 166px;
                            }
                        }
                    }
                }
            }
            .change-login-method.qr {
                .ant-tooltip {
                    .ant-tooltip-content {
                        .ant-tooltip-inner {
                            max-width: 100px;
                            @include mq_min_576 {
                                max-width: 120px;
                            }
                        }
                    }
                }
            }
            h2 {
                flex: 1;
                font-size: 20px;
            }
        }
        .content-header-qr {
            h2 {
                max-width: 136px;
                line-height: 1.2;
            }
        }

        .form-container {
            width: 100%;
            padding: 0 30px 30px;
            form {
                width: 100%;
                .ant-input {
                    border-radius: 0;
                    padding: 12px;
                    line-height: 16px;
                }
                .ant-input-password {
                    border-radius: 0;
                    padding: 0;
                    line-height: 16px;

                    .ant-input-suffix {
                        padding: 0 12px 0 10px;
                    }
                }
                .ant-form-item-explain {
                    margin-bottom: 10px;
                    padding-top: 4px;
                    font-size: 12px;
                    min-height: 16px;
                }
                .button-wrapper {
                    margin: 0;
                    button {
                        width: 100%;
                        min-height: 40px;
                        border-radius: 2px;
                        background-color: #ee4d2d;
                        &:disabled {
                            cursor: not-allowed;
                            opacity: 0.7;
                        }
                    }
                }
            }
            .forgot-password {
                display: flex;
                justify-content: space-between;
                font-size: 12px;
                margin: 12px 0;
            }
            .ant-divider {
                margin: 0 0 14px;
                color: #ccc;
                font-size: 12px;
            }
            .button-social {
                display: flex;
                align-items: space-between;
                gap: 10px;
                .ant-btn {
                    flex: 1;
                    border-radius: 2px;
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.87);
                    border-color: #d9d9d9;
                    outline: none;
                    height: 40px;
                }
            }
        }
        .qr-container {
            width: 100%;
            padding: 0 30px 30px;
            img {
                display: block;
                width: 180px;
                height: 180px;
                margin: 8px auto 30px;
            }
            h2 {
                font-size: 20px;
                font-weight: 400;
                text-align: center;
            }
            button {
                background: none;
                border: 0;
                color: #05a;
                cursor: pointer;
                font-size: 1rem;
                margin: 30px auto 0;
                outline: none;
                text-transform: capitalize;
                display: block;
            }
        }
        .signup {
            span {
                font-size: 14px;
                color: rgba(0, 0, 0, 0.26);
            }
            span:nth-child(2) {
                font-size: 14px;
                color: #ee4d2d;
                cursor: pointer;
            }
        }
    }
    .how-to-scan {
        padding: 30px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        svg {
            position: absolute;
            right: 50px;
            top: 30px;
            width: 16px;
            height: 16px;
            cursor: pointer;
        }
        .how-to-scan-header {
            span {
                color: #222;
                font-size: 20px;
            }
        }
        .img-how-to-scan {
            overflow-clip-margin: content-box;
            overflow: clip;
            max-height: 275px;
        }
        div:last-child {
            font-size: 16px;
            margin: 5px 0px 0;
            text-align: center;
        }
    }
}

footer {
    @include mq_max_768 {
        display: none !important;
    }
}
