.register-container {
    .ant-divider{
        margin-top: 30px!important;
    }

    .agree {
        margin-bottom: 30px;
    }

    &.login-container{
        .content {
            height: 427px;
    
            @include mq_min_768 {
                height: 427px;
            }
        }
    }

}